
@*@{
    ViewBag.Title = "Vendedor";
    Layout = "~/Views/Layout/_LayoutViatico.cshtml";
}

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h3">Gestion Solicitudes Viaticos V</h3>
        ACCIONES EN LA APRTE SUPERIOR
        <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar"></span>
                    This week
                </button>
            </div>
    </div>

    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>


    @{
        Html.RenderPartial("RegistroViatico");

    }




</main>*@







